@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: fixed;
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.onboarding .stroke0 {
  stroke: #ffffff;
  stroke-width: 15;
  stroke-linecap: round;
}

.onboarding {
  stroke-dasharray: 4200;
  stroke-dashoffset: 4200; /* Reset to 250 and then reduce with animation to give the desired effect */
  animation: writeIn 2.5s linear forwards;
}

@keyframes writeIn {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
